body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 2.5vh;
    bottom: 0;
    width: 100%;
}

#selector {
    position: absolute;
    right: 0;
    height: 25vh;
    width: 25vh;
    bottom: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.5vh;
    width: 2.5vh;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: -webkit-grab;
    transform: rotateY(0deg) rotate(90deg);
}

.icon {
    width: 4.5vh;
    position: absolute;
}

#fork {
    transform: translate(7.5vh, -3vh);
}

#bowling {
    transform: translate(17vh, 2vh);
}

#harp {
    transform: translate(17vh, 13vh);
}

#trees {
    transform: translate(-2vh, 13.5vh);
}

#shop {
    transform: translate(-2vh, 2vh);
}

#bus {
    transform: translate(7.25vh, 18.5vh);
    width: 5vh;
}

.dot {
    align-items: center;
    justify-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
    position: absolute;
}

#c1 {
    width: 5vh;
    height: 5vh;
    transform: translate(7vh, 7vh);
}
#c2 {
    width: 7vh;
    height: 7vh;
    transform: translate(6vh, 6vh);
}
#c3 {
    width: 9.5vh;
    height: 9.5vh;
    transform: translate(4.75vh, 4.75vh);
}
#c4 {
    width: 12.5vh;
    height: 12.5vh;
    transform: translate(3.25vh, 3.25vh);
}
#c5 {
    width: 15vh;
    height: 15vh;
    transform: translate(2vh, 2vh);
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    width: 8vh;
    height: 2px;
    cursor: pointer;
    background-image: linear-gradient(.25turn, rgb(255, 203, 255), rgb(52, 0, 124));
}

#sCenter {
    position: absolute;
    width: 2.5vh;
    transform: translate(8.45vh, 8.3vh);
}

#s1 {
    
    transform: translate(5.5vh, 4.3vh) rotateY(0deg) rotate(-90deg);
}

#s1::-webkit-slider-thumb {
    background-image: url('assets/pink.png');
}

#s2 {
    transform: translate(9.9vh, 6.9vh) rotateY(0deg) rotate(-30deg);
}

#s2::-webkit-slider-thumb {
    background-image: url('assets/cyan.png');
}

#s3 {
    transform: translate(9.9vh, 11.9vh) rotateY(0deg) rotate(30deg);
}

#s3::-webkit-slider-thumb {
    background-image: url('assets/orange.png');
}

#s4 {
    transform: translate(5.5vh, 14.4vh) rotateY(0deg) rotate(90deg);
}

#s4::-webkit-slider-thumb {
    background-image: url('assets/yellow.png');
}

#s5 {
    transform: translate(1.1vh, 11.9vh) rotateY(0deg) rotate(150deg);
}

#s5::-webkit-slider-thumb {
    background-image: url('assets/green.png');
}

#s6 {
    transform: translate(1.1vh, 6.9vh) rotateY(0deg) rotate(-150deg);
}

#s6::-webkit-slider-thumb {
    background-image: url('assets/brown.png');
}
